<%- include('partials/header') %>



    <div class="row mb-5">
        <div class="col-3 shadow">
            <%pat_names.forEach(name=> {%>
                <form action="/get_pat_data" method="post">
                    <input type="hidden" name="doc_name" value="<%=doc_data.username%>">
                    <input type="hidden" name="names" value="<%=json_pat_names%>">
                    <button class="btn btn-primary m-1" value="<%=name %>" type="submit" name="pat_name">
                        <%= name %>
                    </button>
                </form>
                <%})%>
        </div>
        <div class="col-9 p-0">
            <div class="details-card">
                <h3 style="position: absolute; left: 10% ; top: -10%; background-color:white;" class="px-3">Dcotor
                    Details</h3>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Username : <%= doc_data.username %>
                            </li>
                            <li class="list-group-item">Name : <%= doc_data.fname %>
                                    <%= doc_data.lname %>
                            </li>
                            <li class="list-group-item">DOB : <%= doc_data.dob %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Mail Account : <%= doc_data.account %>
                            </li>
                            <li class="list-group-item px-0">Special Remarks : 
                                <br>
                                <textarea  cols="50" rows="4" class="m-0"  style="resize:none;"><%= doc_data.remarks %></textarea>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="submit_button mx-5">
                    <form action="/" method="get">
                        <button type="submit" class="tn btn-primary btn-lg rounded-pill px-5 fs-2"> Logout </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-3 shadow ">
            <% for(i in pat_data){%>
                <button onClick="show_data('<%= pat_data[i]%>')" class="btn btn-success" style="margin: 3px 0;">
                    <%= i %>
                </button>
                <%}%>
        </div>
        <div class="col-9 p-0">
            <div class="details-card">
                <h3 style="position: absolute; left: 10% ; top: -10%; background-color:white;" class="px-3">Patient
                    Details</h3>
                <div class="row overflow-auto">
                    <div class="col-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Username : <%= data.username %>
                            </li>
                            <li class="list-group-item">Name : <%= data.fname %>
                                    <%= data.lname %>
                            </li>
                            <li class="list-group-item">DOB : <%= data.dob %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-group list-group-flush">

                            <li class="list-group-item">Mail Account : <%= data.account %>
                            </li>
                            <li class="list-group-item">Last Visit : <%= data.last_visit %>
                            </li>
                            <li class="list-group-item px-0">Special Remarks : 
                                <br>
                                <textarea  cols="50" rows="4" class="m-0"  style="resize:none;"><%= data.remarks %></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div class="container" style="margin-top: 200px;">
        <canvas id="chart2-0" width="300" height="100"></canvas>
        <canvas id="chart2-1" width="300" height="100"></canvas>
        <canvas id="chart2-2" width="300" height="100"></canvas>
    </div>






    <%- include('partials/footer') %>