<%- include('partials/header') %>

    <input type="hidden" name="p_data" value=<%=p_data %> />

    <div class="details-card">
        <h3 style="position: absolute; left: 10% ; top: -10%; background-color:white;" class="px-3">Patient Details</h3>
        <div class="row">
            <div class="col-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Username : <%= data.username %>
                    </li>
                    <li class="list-group-item">Name : <%= data.fname %>
                            <%= data.lname %>
                    </li>
                    <li class="list-group-item">DOB : <%= data.dob %>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Mail Account : <%= data.account %>
                    </li>
                    <li class="list-group-item">Last Visit : <%= data.last_visit %>
                    </li>
                    <li class="list-group-item px-0">Special Remarks :
                        <br>
                        <textarea cols="50" rows="4" class="m-0 px-3"><%= data.remarks %></textarea>
                    </li>
                </ul>
            </div>
        </div>

        <div class="submit_button mx-5">
            <form action="/submit_data" method="post">
                <input type="hidden" name="username" value=<%=data.username %>>
                <input type="hidden" name="data">
                <input type="hidden" name="date">
                <button class="btn btn-primary btn-lg rounded-pill px-5 fs-2" onClick="show()">Submit</button>
            </form>
        </div>
    </div>
    <div style="margin-top: 200px;">
        <div class="container">
            <h2>ECG</h2>
            <p id="stat_0" class="text-right" style="font-size: 2rem"></p>
            <button class="btn btn-success" onClick="start(0)">Start</button>
            <button class="btn btn-danger" onClick="end(0)">End</button>
            <div class="" id="chart-rt-0"></div>
            <canvas id="chart2-0" width="300" height="100"></canvas>
        </div>
        <div class="container">
            <h2>Pulse</h2>
            <p id="stat_1" class="text-right" style="font-size: 2rem"></p>
            <button class="btn btn-success" onClick="start(1)">Start</button>
            <button class="btn btn-danger" onClick="end(1)">End</button>
            <div class="" id="chart-rt-1"></div>
            <canvas id="chart2-1" width="300" height="100"></canvas>
        </div>
        <div class="container">
            <h2>Chest Senesor</h2>
            <p id="stat_2" class="text-right" style="font-size: 2rem"></p>
            <button class="btn btn-success" onClick="start(2)">Start</button>
            <button class="btn btn-danger" onClick="end(2)">End</button>
            <div class="" id="chart-rt-2"></div>
            <canvas id="chart2-2" width="300" height="100"></canvas>
        </div>
    </div>



    <%- include('partials/footer') %>